@import url("../static/fonts/fonts.css");
:root {
  --slider-left: 1024px;
  --main-text-color: #171717;
  --pink-color: #ff6a9f;
}

@-webkit-keyframes animSlide {
  0% {
    left: var(--slider-left);
  }
  100% {
    left: 0px;
  }
}

@keyframes animSlide {
  0% {
    left: var(--slider-left);
  }
  100% {
    left: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Gilroy;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 25px;
  left: 70px;
  z-index: 2;
}

.slider__header_logo {
  width: 20px;
  height: 20px;
  margin-right: 25px;
  background: center/cover no-repeat url(../static/img/header/logo_main.png);
  position: relative;
}

.slider__header_logo::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--main-text-color);
  right: -25px;
}

.slider__header_title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 100;
  margin-left: 25px;
}

.slider__button {
  width: 300px;
  height: 80px;
  background: var(--pink-color);
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  right: 35px;
}

.slider__button_bg {
  width: 65px;
  height: 65px;
  background: center/cover no-repeat url(../static/img/button/button_black_dot.png);
}

.slider__button_logo {
  width: 20px;
  height: 20px;
}

.slider__button.slider__item_one .slider__button_logo {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  background: center/contain no-repeat url(../static/img/button/button_arrow_white.png);
}

.slider__button.slider__item_three {
  width: 270px;
  bottom: 120px;
  right: 80px;
}

.slider__button.slider__item_three .slider__button_logo {
  -webkit-transform: translateX(-43px);
          transform: translateX(-43px);
  background: center/contain no-repeat url(../static/img/button/button_plus_white.png);
}

.slider__button_text {
  font-size: 18px;
  line-height: 1;
  color: var(--main-text-color);
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider__textarea {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.slider__textarea_scroll {
  height: 440px;
  width: 4px;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 40px;
  background: var(--main-text-color);
  position: relative;
}

.slider__textarea_button {
  position: absolute;
  top: 3px;
  left: -8px;
  width: 20px;
  height: 105px;
  border-radius: 20px;
  background: var(--pink-color);
}

.slider__textarea_text {
  background: #ffffff;
  color: var(--main-text-color);
  width: 770px;
  height: 440px;
  border-radius: 40px;
  font-size: 24px;
  padding: 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

.slider__textarea_text::-webkit-scrollbar {
  width: 0;
}

.slider__footer {
  position: absolute;
  bottom: 25px;
  left: 70px;
  z-index: 2;
}

.slider__footer_logo {
  width: 60px;
  height: 14px;
  background: center/contain no-repeat url(../static/img/footer/onpointLogo.png);
}

.slider__box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  width: 300%;
  background-color: #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.slider__box .animate {
  -webkit-animation: animSlide .3s linear 1;
          animation: animSlide .3s linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  height: 100%;
  width: 33%;
  color: #e2e2e2;
  padding: 25px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: center/cover no-repeat url(../static/img/background/main_bg.jpg);
}

.slider__item_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  gap: 44px;
}

.slider__item_card {
  background: #ffffff;
  color: var(--main-text-color);
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 25px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 100px -23px rgba(69, 195, 253, 0.55);
          box-shadow: 0px 0px 100px -23px rgba(69, 195, 253, 0.55);
  position: relative;
}

.slider__item_card:nth-child(1) {
  height: 270px;
}

.slider__item_card:nth-child(1) p {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 50%;
}

.slider__item_card:nth-child(2) {
  width: 500px;
}

.slider__item_card_img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
}

.slider__item_card_img:nth-child(1) {
  right: 225px;
  background: center/contain no-repeat url(../static/img/card/icon1.png);
}

.slider__item_card_img:nth-child(2) {
  right: 175px;
  background: center/contain no-repeat url(../static/img/card/icon2.png);
}

.slider__item.slider__item_three .slider__item_title {
  padding-left: 285px;
}

.slider__item.slider__item_three .slider__item_text {
  padding-left: 280px;
}

.slider__item__second_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider__item_one .slider__item_bg:nth-child(1) {
  background: center/cover no-repeat url(../static/img/background/slider_one/test_onpointnew.png);
}

.slider__item_one .slider__item_bg:nth-child(2) {
  background: center/cover no-repeat url(../static/img/background/slider_one/test_onpointnew2.png);
}

.slider__item_one .slider__item_bg:nth-child(3) {
  background: center/cover no-repeat url(../static/img/background/slider_one/test_onpointnew3.png);
}

.slider__item_one .slider__item_bg:nth-child(4) {
  background: center/cover no-repeat url(../static/img/background/slider_one/test_onpointnew4.png);
}

.slider__item_one .slider__item_bg:nth-child(5) {
  background: center/cover no-repeat url(../static/img/background/slider_one/test_onpointnew5.png);
}

.slider__item_one .slider__item_bg:nth-child(6) {
  background: center/cover no-repeat url(../static/img/background/slider_one/test_onpointnew6.png);
}

.slider__item_one .slider__item_bg:nth-child(7) {
  background: center/cover no-repeat url(../static/img/background/slider_one/test_onpointnew7.png);
}

.slider__item_one .slider__item_bg:nth-child(8) {
  background: center/cover no-repeat url(../static/img/background/slider_one/test_onpointnew8.png);
}

.slider__item_one .slider__item_bg:nth-child(9) {
  background: center/cover no-repeat url(../static/img/background/slider_one/test_onpointnew9.png);
}

.slider__item_two .slider__item_bg:nth-child(1) {
  background: center/cover no-repeat url(../static/img/background/slider_two/test_onpointnew.png);
}

.slider__item_two .slider__item_bg:nth-child(2) {
  background: center/cover no-repeat url(../static/img/background/slider_two/test_onpointnew2.png);
}

.slider__item_two .slider__item_bg:nth-child(3) {
  background: center/cover no-repeat url(../static/img/background/slider_two/test_onpointnew3.png);
}

.slider__item_two .slider__item_bg:nth-child(4) {
  background: center/cover no-repeat url(../static/img/background/slider_two/test_onpointnew4.png);
}

.slider__item_two .slider__item_bg:nth-child(5) {
  background: center/cover no-repeat url(../static/img/background/slider_two/test_onpointnew5.png);
}

.slider__item_three .slider__item_bg:nth-child(1) {
  background: center/cover no-repeat url(../static/img/background/slider_three/test_onpointnew.png);
}

.slider__item_three .slider__item_bg:nth-child(2) {
  background: center/cover no-repeat url(../static/img/background/slider_three/test_onpointnew2.png);
}

.slider__item_three .slider__item_bg:nth-child(3) {
  background: center/cover no-repeat url(../static/img/background/slider_three/test_onpointnew3.png);
}

.slider__item_three .slider__item_bg:nth-child(4) {
  background: center/cover no-repeat url(../static/img/background/slider_three/test_onpointnew4.png);
}

.slider__item_three .slider__item_bg:nth-child(5) {
  background: center/cover no-repeat url(../static/img/background/slider_three/test_onpointnew5.png);
}

.slider__item_three .slider__item_bg:nth-child(6) {
  background: center/cover no-repeat url(../static/img/background/slider_three/test_onpointnew6.png);
}

.slider__item_three .slider__item_bg:nth-child(7) {
  background: center/cover no-repeat url(../static/img/background/slider_three/test_onpointnew7.png);
}

.slider__item_three .slider__item_bg:nth-child(8) {
  background: center/cover no-repeat url(../static/img/background/slider_three/test_onpointnew8.png);
}

.slider__item_three .slider__item_bg:nth-child(9) {
  background: center/cover no-repeat url(../static/img/background/slider_three/test_onpointnew9.png);
}

.slider__item_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider__item_title {
  text-transform: uppercase;
  margin-top: 105px;
  font-size: 27px;
  letter-spacing: 2px;
  color: var(--main-text-color);
}

.slider__item_text {
  font-size: 109px;
  line-height: 120px;
  letter-spacing: 6px;
  margin-top: 10px;
  color: var(--main-text-color);
  position: relative;
}

.slider__item_text_bold {
  font-weight: 800;
}
/*# sourceMappingURL=App.module.css.map */